.container {
    width: 1080px;
    margin: 0 auto;
    background:#FFFFAA;
}
.header h1 {
    float: left;
    margin: 0 50px 0 30px;
}
.header {
    clear: both;
    background: #FFAAAA;
    padding-bottom: 20px;
}
.header ul {
    padding-top: 10px;
}
nav ul li{
    display: inline;
    padding-left: 20px;
    margin-top: 10px;
}
.content {
    width: 75%;
    float: left;
    background: #88CC88;
}
.content img {
    float: left;
    margin: 0 20px;
}
.description {
    clear: right;
    padding: 10px 20px 0;
}
.top-content {
    height: 230px;
    clear: both;
}
.aside {
    width: 25%;
    float: left;
    text-align: center;
}
.section nth-child(1) {
    float: left;
    margin: 0 20px;
}
.section nth-child(2) {
    clear: right;
    width: 33%;
    flaot: left;
}
