table, tr, th, td {
    border: 1px solid black;
	padding: 5px;
}

.bacon-answer {
    color: red;
    font-family: "Times New Roman";
	max-width: 50%;
}
p { 
	margin: 0 auto;
	padding: 10px 10px 10px 10px;
	max-width: 60%;
	color: #111; 
	font-family: 'Open Sans', sans-serif; 
	font-size: 16px; 
	line-height: 1.25;  
}
h1 { 
	color: black; 
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 36px;  
	line-height: 1.25; 
	margin: 0 0 0; 
	padding: 10px 15px; 
	text-align: center; 
	text-transform: uppercase; 
}
h2 { 
	color: blue; 
	font-family: 'Open Sans Condensed', sans-serif; 
	font-size: 30px;  
	line-height: 1.25;  
	text-align: center; 
	text-transform: uppercase; 
}
.list ul {
    margin: 0;
    vertical-align: middle;
    line-height: 70px;
}
