.container {
      width: 55%;
      margin: 0 auto;
            }
.left {
      float: left;
      width: 40%;
      }
.right {
      float: right;
      width: 40%;
      margin-left: 10%;
        }   
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #545454;
    background-color: #ffffff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
}
table, tr, th, td {
      border: 1px solid black;
      padding: 8px;
      }
table {
       margin-bottom: 50px;
       }
tr:nth-child(even) {
      color: red;
      background-color: #ccc;
      }
