.container {
      width: 55%;
      margin: 0 auto;
            }
.left {
      float: left;
      width: 40%;
      }
.right {
      float: right;
      width: 40%;
      margin-left: 10%;
        }           
table, tr, th, td {
      border: 1px solid black;
      padding: 8px;
      }
table {
       margin-bottom: 50px;
       }
tr:nth-child(even) {
      color: #ddd;
      background-color: #ccc;
      }
