body,
html {
margin:0;
padding:0;
color:#000;
background:#a7a09a;
}
.wrap {
width:80%;
margin:0 auto;
background:#99c;
}
.header {
float:right;
width:99%;
padding:5px 5px;
background:#ddd;
}
h1 {
  margin:0;
}
.nav {
padding-left: 0;
margin-left: 0;
color: White;
float: left;
width: 100%;
font-family: arial, helvetica, sans-serif;
background:#c99;
}
.nav ul {
  margin:0;
  padding:0;
  list-style:none;
}
.nav li {
display: inline;
}
.content {
text-align: center;
float:left;
width:70%;
padding:1%;
background:#9c9;
}
h2 {
  margin:0 0 1em;
}
.content p {
text-align: center;
}
.content ul li {
text-align:center;
}
.sidebar {
float:right;
width:25%;
padding:1%;
background:#9c8;
}
.footer {
clear:both;
background:#cc9;
}
.footer p {
  margin:0;
}
